{% extends 'base.html' %}
{% block content %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">다양한 지식을 쌓아 보아요</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">GA4</h2>
                            <p class="card-text">GA4 개념부터 실습까지</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://exgp-study.tistory.com/category/GA4">GA4 관련 공부하러가기</a></div>
                        <div class="card-footer">
                            <form action="{% url 'study:problem_list' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="algorithm" value="구현">문제풀러가기</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">GTM</h2>
                            <p class="card-text">GTM 개념부터 실습까지</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://exgp-study.tistory.com/category/GTM">GTM 공부하러가기</a></div>
                        <div class="card-footer">
                            <form action="{% url 'study:problem_list' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit"name="algorithm" value="BFS/DFS">문제풀러가기</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">시각화</h2>
                            <p class="card-text">looker studio</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://exgp-study.tistory.com/category/Looker%20Studio">looker studio 공부하러가기</a></div>
                        <div class="card-footer">
                            <form action="{% url 'study:problem_list' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="algorithm" value="그리디">문제풀러가기</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">BigQuery</h2>
                            <p class="card-text">빅쿼리 개념을 공부하고 문제를 풀어보아요</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://exgp-study.tistory.com/category/BigQuery">빅쿼리 공부하러가기</a></div>
                                                <div class="card-footer">
                            <form action="{% url 'study:problem_list' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="algorithm" value="정렬">문제풀러가기</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">정규식</h2>
                            <p class="card-text">정규식을 공부하고 문제를 풀어보아요</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://exgp-study.tistory.com/category/Regular%20Expression">DP 개념 공부하러가기</a></div>
                        <div class="card-footer">
                            <form action="{% url 'study:problem_list' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="algorithm" value="DP">문제풀러가기</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">기타</h2>
                            <p class="card-text">기타를 이용해서 문제를 효율적으로 풀어보세요</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://buyandpray.tistory.com/52">완전탐색 공부하러가기</a></div>
                        <div class="card-footer">
                            <form action="{% url 'study:problem_list' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="algorithm" value="완전탐색">문제풀러가기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Ex_GP</p></div>
        </footer>
{% endblock %}

