{% extends 'accounts/base.html' %}

{% block content %}

<div class="jumbotron jumbotronfluid">

<div class="container my-5" >

    <h3 class="my-3">비밀번호 초기화</h3>
    <p>비밀번호를 잊어버렸나요? 가입할 때 입력했던 이메일 주소를 입력하시면 새로운 비밀번호를 설정하는 절차를 이메일로 보내드리겠습니다.</p>

    <hr>

    <form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}


    <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">이메일 주소</label>
            <div class="col-sm-10 mt-1">
              {{ form.email }}
            </div>
          </div>


    <button class="btn btn-info mt-3" type="submit"> 비밀번호 초기화 </button>
    <input type="hidden" name="next" value="{{ next }}">
    </form>

</div>

</div>
{% endblock %}